
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>错误</title>
    <meta name="renderer" content="webkit"> 
    <style type="text/css"> 
        body, html { background: #f5f5f5; text-align: center; }
        hgroup { font-size: 0.7rem; }
        hgroup h2 { font-size: 0.5rem; }
    </style>
</head>
<body> 
    <div class="h88"></div>
    <hgroup style="margin-top:5rem">
        <h1>系统出错了</h1>
    </hgroup>
</body>
</html>



